.loginContainer, .registerContainer{
    width: 400px;
    position: relative;
    margin: 50px auto;
}

.loginTitle {
    color: #2f3a56;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginInput {
    margin-right: 5%;
    margin-left: 5%;
    background-color: #fafafa;
    border: 1px solid #2f3a56;
    outline: none;
    color: #e92efb;
    padding: 1px 0;
} 

.loginButton {
    margin-left: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2f3a56;
    font-weight: bold;
    padding: 1px 5px;
}