.header{
    width: 100%;
    position: relative;
    height: 60px;
    display: flex;
    background: #2f3a56;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo{
    font-size: 23px;
    color: #d8e8e8;
    text-transform: capitalize;
    font-weight: bold;
    margin: 18px;
    text-shadow: 0 0;
}

.version{
    font-size: 10px;
    font-weight: normal;
}

.rightMenu{
    display: flex;
    color: #d8e8e8;
    margin: 20px;
}

.rightMenu > li{
    margin-left: 20px;
}

.rightMenu > li > a{
    color: #d8e8e8;
}

.leftMenu{
    display: flex; 
    color: #d8e8e8; 
    margin: 20px;
}

.leftMenu > li{
    margin: 0 10px;
}

.leftMenu > li > a{
    color: #d8e8e8;
}

.leftMenu > li > a.active{
    font-weight: bold;
}