.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}
.listOfUsers{
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #d8e8e8;
}
.chatArea{
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
.chatHeader{
    position: fixed;
    width: 70%;
    height: 40px;
    background: #a8d0da;
    text-align: center;
    line-height: 40px;
    color: #2f3a56;
    font-weight: bold;
    font-family: sans-serif;
}
.chatControls{
    display: flex;
    position: fixed;
    width: 70%;
    height: 50px;
    bottom: 0;
}
.chatControls textarea{
    width: 90%;
    outline: none;
    color: #2f3a56;
    font-size: 15px;
}
.chatControlsButton{
    width: 10%;
    font-weight: 800;
    color: #2f3a56;
    font-size: 12px;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #2f3a56;
    background-color: #a8d0da;
}

.chatControlsButton :hover{
    color: #a8d0da;
    background-color: #2f3a56;
}

.displayName{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.displayName.active{
    background: #d8e8e8;
}

.displayName .displayPic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
}

.displayName .displayPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myMessageStyle{
    background-color: #406d96;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.yourMessageStyle{
    background-color: #d8e8e8;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.messageSections{
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 40px;
}

.timestampData {
    color: #a8d0da;
    font-size: 12px;
    padding: 0 10px;
}

.onlineStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #45daff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #45daff;
}
.onlineStatus.off{
    background: #a8d0da;
    box-shadow: 0 0 0 0;
}