.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}
.listOfUsers{
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
}
.userInfoArea{
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
.userInfoHeader{
    position: fixed;
    width: 70%;
    height: 40px;
    background: #a8d0da;
    text-align: center;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
}

.userIDinput {
    width: 70%;
    margin-right: 10px;
    border: 1px solid #2f3a56;
    outline: none;
    color: #e92efb;
    padding: 1px 0;
}

.userInfoButton {
    color: #2f3a56;
    font-weight: bold;
    padding: 1px 5px;
}

.chatControls{
    display: flex;
    position: fixed;
    width: 70%;
    height: 50px;
    bottom: 0;
}
.chatControls textarea{
    width: 90%;
}
.chatControls button{
    width: 10%;
}

.displayHeader {
    background: #406d96;
    color: white;
    font-weight: bold;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
}

.displayHeader.start {
    background: #e92efb;
}

.displayHeader.done {
    color: #d8e8e8;
    background: #2f3a56;
}

.displayName {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #d8e8e8;
    color: #2f3a56;
    font-weight: bold;
}

.displayName.active{
    background: #ccc;
}

.displayName .displayPic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
}

.displayName .displayPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myMessageStyle{
    background-color: rgb(101, 198, 236);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.yourMessageStyle{
    background-color: #ccc;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.userInfoSections{
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    top: 40px;
}

.userInfoSections div {
    margin-bottom: 20px;
    color: #2f3a56;
    font-weight: bolder;
}

.userInfoPic img {
    text-align: center;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    margin-top: 100px;
}

.timestampData {
    color: cadetblue;
    font-size: 12px;
    padding: 0 10px;
}

.onlineStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #16e316;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #16e316;
}
.onlineStatus.off{
    background: green;
    box-shadow: 0 0 0 0;
}

.userInfoTouch {
    margin-top: 30px;
    color: #2f3a56;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-color: #2f3a56;
    border-radius: 5px;
    background-color: #d8e8e8;
}

.errorMessage { 
    font-weight: bolder;
    color: #e92efb;
    margin-top: 200px;
    letter-spacing: 1px;
}